.tab-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-header button {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
}

.tab-header button.active {
  border-bottom: 2px solid #3A3A98;
  background-color: #3A3A98;
  color: white;
}


.bank-nominee-container {
  margin: 20px auto;
}

.bank-nominee-container .form-group {
  display: flex;
  align-items: baseline;
  gap: 20px;

  .kyc-label {
    width: 200px;
  }
}


.add-nominee-btn {
  text-align: right;
}

.nominee-block .form-header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}


.nominee-block.collapsed {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.nominee-block.expanded {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.nominee-block .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsed-name {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  margin-left: 8px;
}

.remove-button {
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 14px;
}

  .bank-nominee-container 
  {

    .form-row {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items:center;
    }
    
    .form-row .form-group {
      flex: 1;
      min-width: 240px;
    }

    .kyc-input{
      margin: 8px 0;
    }
  }


@media (max-width:425px) {
  .bank-nominee-container .form-group {
    flex-direction: column;
    gap: 5px;
    margin: 10px auto;

  }
  .bank-nominee-container {


  .form-row {
    flex-direction: column;
    gap: 2px;
  }
  }
}